<%- partial('_partial/head') %>
<body>
<div id="body">

  
  <div id="content">
    <%- partial('_partial/header') %>
    <%- body %>
  </div>
</div>
<%- partial('_partial/after-footer') %>
</body>
</html>
